/* Canvas Styles */

.whiteboard-canvas-host {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #ffffff;
  position: relative;
  touch-action: none;
}

.whiteboard-canvas-host.dark {
  background-color: #1a1a1a;
}

.whiteboard-canvas-host .canvas-container {
  box-shadow: inset 0 0 0 1px #ddd;
  touch-action: none;
}

.whiteboard-canvas-host.dark .canvas-container {
  box-shadow: inset 0 0 0 1px #444;
}

.whiteboard-canvas-host canvas {
  display: block;
  touch-action: none;
}

.whiteboard-canvas-host .upper-canvas {
  background: transparent !important;
}
